{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Просмотр пользователя</h2>
                    <table class="table">
                        <tr>
                            <th>Идентификатор</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Логин</th>
                            <td>{{ user.login }}</td>
                        </tr>
                        <tr>
                            <th>Фамилия</th>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Имя</th>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Отчество</th>
                            <td>{{ user.middle_name or 'Нет' }}</td>
                        </tr>
                        <tr>
                            <th>Роль</th>
                            <td>{{ user.role_name or 'Нет роли' }}</td>
                        </tr>
                    </table>
                    <div>
                        <a class="btn btn-secondary" href="{{ url_for('users') }}">Назад</a>
                    </div>
                    {% endblock %}