{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Author: {{ post.author }}</p>
    <p>Date: {{ post.date }}</p>
    <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Post Image">
    <p>{{ post.text }}</p>

    <h2>Leave a Comment</h2>
    <form action="" method="post">
        <textarea name="comment" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Comments</h2>
    {% for comment in post.comments %}
        <div class="bg-light rounded-3">
            <p>{{ comment.author }}</p>
            <div >{{ comment.text }}</div>
            {% if comment.replies %}
                <ul>
                    {% for reply in comment.replies %}
                        <li>
                            <p>{{ reply.author }}</p>
                            <p>{{ reply.text }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    {% endblock %}