{% extends 'base.html' %}

{% block content %}
<div class="title-area position-relative" style="background-image: url('{{ course.bg_image.url }}');">
    <div class="h-100 w-100 py-5 d-flex text-center position-absolute" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto">
            <h1 class="title mb-3 font-weight-bold text-white">{{ course.name }}</h1>
            <p class="mb-3 mx-auto text-white">
                {{ course.category.name }} | <span class="text-warning">★</span> <span class="text-white">{{ "%.2f" | format(course.rating) }}</span>
            </p>
            <div class="container">
                <p class="description w-75 mb-5 mx-auto text-white">
                    {{ course.short_desc }}
                </p>
            </div>
            {% if current_user.is_authenticated %}
            <a href="#" class="btn btn-outline-light btn-lg">Перейти к материалам курса</a>
            {% else %}
            <button class="btn btn-outline-light btn-lg" disabled>Записаться</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-5">
    <section class="about mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">О курсе</h2>
        <p>{{ course.full_desc }}</p>
    </section>

    <section class="program mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Программа курса</h2>

        {% for theme in course.themes %}
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Тема {{ loop.index }}. {{ theme.name }}</h5>
                {% if current_user.is_authenticated and current_user.id == course.author_id %}
                <button class="btn btn-primary btn-sm ms-auto" title="Добавить пункт" data-parent-id="{{ theme.id }}">+</button>
                {% endif %}
            </div>
            <div class="card-body">
                {% set outer_loop = loop %}
                {% for subtheme in theme.subthemes %}
                <div class="d-flex align-items-center">
                    <p class="card-text mb-3">{{ outer_loop.index }}.{{ loop.index }}. {{ subtheme.name }}</p>
                    {% if current_user.is_authenticated and current_user.id == course.author_id %}
                    <a href="#" class="btn btn-sm ms-auto" title="Добавить материал" data-parent-id="{{ theme.id }}">+</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% if current_user.is_authenticated and current_user.id == course.author_id %}
        <div class="text-center">
            <button type="button" class="btn btn-dark">Добавить тему</button>
        </div>
        {% endif %}
    </section>
</div>

<div class="container mt-5">
    <h3 class="text-center">Отзывы</h3>
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ review.user.full_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ review.created_at.strftime('%d.%m.%Y') }}</h6>
                    <p class="card-text">Оценка: <span class="text-warning">★</span> {{ review.rating }}</p>
                    <p class="card-text">{{ review.text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{{ url_for('courses.reviews', course_id=course.id) }}" class="btn btn-primary">Все отзывы</a>
    </div>
</div>

<div class="container mt-5">
    {% if current_user.is_authenticated %}
    <h3 class="text-center">Оставить отзыв</h3>
    <form method="post" action="{{ url_for('courses.create_review', course_id=course.id) }}" class="mb-5">
        <div class="form-group">
            <label for="rating">Оценка:</label>
            <select id="rating" name="rating" class="form-control mb-3">
                <option value="5">Отлично</option>
                <option value="4">Хорошо</option>
                <option value="3">Удовлетворительно</option>
                <option value="2">Неудовлетворительно</option>
                <option value="1">Плохо</option>
                <option value="0">Ужасно</option>
            </select>
        </div>
        <div class="form-group">
            <label for="text">Текст отзыва:</label>
            <textarea id="text" name="text" class="form-control mb-3" rows="3"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
    {% else %}
    <p class="text-center">Пожалуйста, <a href="{{ url_for('auth.login') }}">войдите</a> для того, чтобы оставить отзыв.</p>
    {% endif %}
</div>

{% endblock %}
