{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'logs.index' %} active {% endif %}" aria-current="page" href="{{ url_for('logs.index') }}">Журнал</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'logs.users_stat' %} active {% endif %}" href="{{ url_for('logs.users_stat') }}">Статистика по пользователям</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'logs.pages_stat' %} active {% endif %}" href="{{ url_for('logs.pages_stat') }}">Статистика по страницам</a>
    </li>
</ul>
{% block tab_content %}
{% endblock %}
{% endblock %}