{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Профиль пользователя</h1>
    <div class="card">
        <div class="card-body">
            <p><strong>User ID:</strong> {{ user.id }}</p>
            <p><strong>Логин:</strong> {{ user.login }}</p>
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
            <p><strong>Отчество:</strong> {{ user.middle_name }}</p>
            <p><strong>Роль:</strong> {{ user.role_name }}</p>
            {% if current_user.id == user.id %}
            <a href="{{ url_for('edit_own_profile') }}" class="btn btn-primary">Изменить данные</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
