{% macro user_form(roles, action='create', user=None, errors=None) %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% if action=='create' %}
                        <div class="mb-3">
                            <label class="form-label" for="login">Логин</label>
                            <input class="form-control{% if errors and 'login' in errors %} is-invalid{% endif %}"
                                type="text" id="login" name="login" value="{{ user.login or '' }}" required>
                            {% if errors and 'login' in errors %}
                            <div class="invalid-feedback">
                                {{ errors['login'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Пароль</label>
                            <input class="form-control{% if errors and 'password' in errors %} is-invalid{% endif %}"
                                type="password" id="password" name="password">
                            {% if errors and 'password' in errors %}
                            <div class="invalid-feedback">
                                {{ errors['password'] }}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="form-label" for="last_name">Фамилия</label>
                            <input class="form-control{% if errors and 'last_name' in errors %} is-invalid{% endif %}"
                                type="text" id="last_name" name="last_name" value="{{ user.last_name or '' }}">
                            {% if errors and 'last_name' in errors %}
                            <div class="invalid-feedback">
                                {{ errors['last_name'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="first_name">Имя</label>
                            <input class="form-control{% if errors and 'first_name' in errors %} is-invalid{% endif %}"
                                type="text" id="first_name" name="first_name" value="{{ user.first_name or '' }}">
                            {% if errors and 'first_name' in errors %}
                            <div class="invalid-feedback">
                                {{ errors['first_name'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="middle_name">Отчество</label>
                            <input class="form-control" type="text" id="middle_name" name="middle_name"
                                value="{{ user.middle_name or '' }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="role">Роль</label>
                            <select class="form-select" id="role" name="role_id">
                                {% for role in roles %}
                                <option value="{{ role.id }}" {% if user.role_id|string==role.id|string %}selected{%
                                    endif %}>{{ role.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary">Сохранить</button>
                        <a class="btn btn-secondary" href="{{ url_for('users') }}">Отменить</a>
                    </form>
                    {% endmacro %}